html, body {
    height: 100%;
  }
body {
    background-color: #e79ae5;
    background-image: url('img/Imagem\ de\ Fundo\ de\ Tela\ Patinhas\ Coloridas.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
form {
    background-color: #ffeefe;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 400px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #e79ae5;
}
input[type="text"],
input[type="password"] {
    display: block;
    width: 94%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}
input[type="submit"] {
    background-color: #e79ae5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #f4f74c;
}